/* Resetting basic browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.project-comp {
    position: relative;  /* Ensures contained absolute positioned items refer to this container */
    background: #1e213a;
    background-image: linear-gradient(120deg, #1e213a 0%, #3f4c6b 100%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow-y: auto; 
    height: 100vh;
    padding-top: 50px;  /* Decreased padding slightly for better spacing */
}

.no-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    color: #e0e0e0;
    text-shadow: 2px 2px 4px #000;
}

.no-projects img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.create-project-btn {
    background: linear-gradient(45deg, #ff6ec4, #7873f5);
    color: white;
    border: none;
    padding: 5px 10px;  /* Smaller padding for smaller button size */
    border-radius: 15px;  /* Adjusted for smaller button */
    cursor: pointer;
    font-size: 14px;  /* Slightly reduced font size */
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    top: 15px;  /* Positioning from the top */
    left: 15px;  /* Positioning from the left */
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.create-project-btn:hover {
    background: linear-gradient(45deg, #7873f5, #ff6ec4);
    transform: translateY(-2px);  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.create-project-btn, .clear-projects-btn {
    /* Adjustments for smaller buttons */
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 12px;
}






